@use "foundation/_base";
@use "layout/_header";
@use "layout/_main";

@use "object/component/button";
@use "object/component/title";
@use "object/component/text";

@use "object/project/articles.scss";
@use "object/project/gallery";
@use "object/project/p-footer";
@use "object/project/p-header";
@use "object/project/p-main";






// =======================================




  // @media (max-width: 834px) {
  //   .l-take-out {
  //     width: 100%;
  //   }
  //   .l-take-out__inner {
  //     display: inline-block;
  //     flex-direction: column;
  //     width: 100%;
  //     padding: 10px;
  //     margin: 20px;
  //     height: 642px;
  //     vertical-align: bottom;
  //     background-size: contain;
  //   }
  //   .p-take-out__comments {
  //     display: inline-block;
  //     vertical-align: bottom;
  //   }
  //   .p-take-out__title {
  //     color: white;
  //   }
  //   .p-take-out__comments1 {
  //     background-color: rgba(255,255,255,0.5);
  //     margin-bottom: 20pxs;
  //   }
  //   .p-take-out__comments2 {
  //     background-color: rgba(255,255,255,0.5);
  //   }
  // }

@media (max-width: 834px) {
  .l-take-out {
    width: auto
  }
  .l-take-out__inner {
    height: 642px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-around;
    font-family: "M PLUS 1p";
    position: relative;
    z-index: 1;
  }
  .p-take-out__title {
    padding-top: 5px;
    padding-left: 15px;
    color: white;
    font-size: 3.6rem;
  }
  .p-take-out__comments {
    position: absolute;
    z-index: 10;
    bottom: 0;
    font-family: "M PLUS 1p";
  }
      


      .p-take-out__comment1 {
        background-color: rgba(255,255,255,0.5);
        margin: 20px;
        height: 163px;
        font-family: "M PLUS 1p";
        padding: 10px;
        &__title {
          margin-bottom: 20px;
          font-size: 2.2rem;
          padding: 2%;
        }
        &__text {
          font-size: 1.6rem;
        }
      }

      .p-take-out__comment2 {
        background-color: rgba(255,255,255,0.5);
        margin: 20px;
        height: 163px;
        font-family: "M PLUS 1p";
        padding: 10px;
        &__title {
          margin-bottom: 20px;
          font-size: 2.2rem;
          padding: 2%;
        }
        &__text {
          font-size: 1.6rem;
        }
      }
  }

// eatIn=========================
  
@media (max-width: 834px) {
  .p-eat-in {
    width: auto
    
  }
  .p-eat-in__inner {
    height: 642px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-around;
    font-family: "M PLUS 1p";
    position: relative;
    z-index: 1;

  }
  
  .p-eat-in__title {
    padding-top: 5px;
    padding-left: 15px;
    color: white;
    font-size: 3.6rem;
  }
  .p-eat-in__comments {
    position: absolute;
    z-index: 10;
    bottom: 0;

    font-family: "M PLUS 1p";
  }
  


  .p-eat-in__comment1 {
    background-color: rgba(255,255,255,0.5);
    margin: 20px;
    height: 163px;
    font-family: "M PLUS 1p";
    padding: 10px;
    &__title {
      margin-bottom: 20px;
      font-size: 2.2rem;
      padding: 2%;
    }
    &__text {
      font-size: 1.6rem;
    }
  }

  .p-eat-in__comment2 {
    background-color: rgba(255,255,255,0.5);
    margin: 20px;
    height: 163px;
    font-family: "M PLUS 1p";
    padding: 10px;
    &__title {
      margin-bottom: 20px;
      font-size: 2.2rem;
      padding: 2%;
    }
    &__text {
      font-size: 1.6rem;
    }
  }
}
// --------------------------------

.p-access__title {
  // color: #fff;
  padding-top: 20px;
  font-size: 3rem;
  font-family: "M PLUS 1p";

}
.p-access__text {
  // color: #fff;
  padding: 20px;
  font-size: 1.4rem;
  font-family: "M PLUS 1p";

}






  // -----------------------------
  @media (max-width: 375px) {
    .p-access__inner {
      background-color: rgba(0,0,0,0);
      background-blend-mode: screen;
      height: auto;

      
    }

    .p-access__map-shadow {
      display: flex;
      height: inherit;
      width: auto;
      background-color: rgba(0,0,0,0.5);

    }
    .p-access__text-area {
      margin: 20px 20px;
    }
    .p-access__text {
      line-height: 2;
      margin: 10px 0;
    }
  

  .l-side-menu {
    display: none;
  }

  .l-footer {
    background-color: #97816b;
    height: 150px;
    width: auto;
    color: #fff;
    &__inner {
      text-align: center;
      padding: 40px 0;
      // vertical-align: middle;
      // line-height: 150px;
    }
  }
  }

.p-footer__info-history {
  font-size: 2rem;
  font-family: "M PLUS 1p";
  padding-bottom: 20px;
  color: #fff;
}


.p-footer__copyright {
  font-family: "M PLUS 1p";
  font-size: 1.4rem;
  text-decoration: none;
  
  &:visited{
    color: #fff;
  }
}

.p-access__inner {
  background-color: #707070;
  opacity: 60;
  z-index: 10;
}
.p-access__map-shadow{
  background-color:rgba(0,0,0,0.7);
  z-index: 20;
}

// ======================================

.p-menu {
  background-color:#F2EDE9;
  color: #707070;
  position: absolute;
  z-index: 100;
  top: 40px;
  right: -0px;
  width: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  transition: .5s;
}
.p-menu.open-menu {
  width: 100%;
}

.p-menu__menus {
  padding: 30px;
}

.c-menu__burger-title {
  font-size: 2.4rem;
}
