.l-top-imgs__inner {
    background-image: url(/mainvisual-img/top-img@2x.jpg);
    object-fit: contain;
}


.l-take-out__inner {  
    background-image: url(/mainvisual-img/takeout3@2x.jpg);
    background-size: auto;
}

.p-eat-in__inner {  
    background-image: url(/mainvisual-img/eatin-phone22@2x.jpg);
    object-fit: contain;
}

.p-access__inner {
    background-image: url(/mainvisual-img/map2.jpg);
    object-fit: contain;
    opacity: 0.5;
}

a {
    text-decoration: none;
}