.c-form--search {
    display:table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.c-button--search {
    border-style: solid;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #707070;
    height: 46px;
    width: 230px;
}