.c-button--menu {
    display: block;
    color: #707070;
    margin-right: 20px;
    margin-left: auto;
    font-weight: bold;
    font-size: 2rem;
    font-family: Roboto;
}

.c-button--search {
    border-style: solid;
    border-color: #707070;
    background-color: #efeae5;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 1.6rem;
    height: 46px;
    width: 78px;
    font-family: "M PLUS 1p";
}